{{ $data := index .Site.Data .Site.Language.Lang}}
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-md-offset-2 ">
      <h2 class="text-uppercase">{{ $data.feature.title }}</h2>
      <div>
        <p >{{ $data.feature.content1 }}</p>
        <p >{{ $data.feature.content2 }}</p>
      	<p >{{ $data.feature.content3 }}</p>
      </div>
      {{ with $data.feature.button }}
      	<a style="margin-top:20px;" href="{{ .url }}" class="btn btn-view-works">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>