<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <h2 class="text-uppercase">{{ .Site.Data.feature.title }}</h2>
      <div>
        <p >{{ .Site.Data.feature.content1 }}</p>
        <p >{{ .Site.Data.feature.content2 }}</p>
      	<p >{{ .Site.Data.feature.content3 }}</p>
      </div>
      {{ with .Site.Data.feature.button }}
      	<a style="margin-top:20px;" href="{{ .url }}" class="btn btn-view-works">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>