<!-- Slider Start -->
{{ $data := index .Site.Data .Site.Language.Lang}} 
<section id="slider">
<!-- particles.js container -->
<div id="particles-js">
</div>
<script src="{{ .Site.BaseURL }}js/particles.mini.js"></script>
<script src="{{ .Site.BaseURL }}js/app.js"></script>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <img src="{{ .Site.BaseURL }}img/penta_icon_white.png" height="62" width="62" alt="{{ .Site.Title }} Logo"> 
          <h1 class="animated fadeInUp text-uppercase">{{ $data.slider.title | safeHTML }}</h1>
            <br>
          <div class="row slider-paragraph">
            <div class="col-md-8 col-md-offset-2">
              <h4 class="animated fadeInUp white">{{ $data.slider.desc}}</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>