<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
	
	{{ partial "head.html" . }}
	
	{{ if .IsTranslated }}
    	{{ range .Translations }}
    	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    	{{ end }}
	{{ end }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ if and .Site.Data.slider .Site.Data.slider.enable }}
		{{ partial "slider.html" . }}
	{{ end }}

	{{ if and .Site.Data.connect .Site.Data.connect.enable }}
		{{ partial "connect.html" . }}
	{{ end }}

	{{ if and .Site.Data.feature .Site.Data.feature.enable }}
		{{ partial "feature.html" . }}
	{{ end }}

	{{  if and .Site.Data.youtube .Site.Data.youtube.enable }}
		{{ partial "youtube.html" . }}
	{{ end }}

	{{ if and .Site.Data.service .Site.Data.service.enable }}
		{{ partial "service.html" . }}
	{{ end }}

	{{  if and .Site.Data.roadmap .Site.Data.roadmap.enable }}
		{{ partial "roadmap.html" . }}
	{{ end }}

<!-- 	{{ if and (isset .Site.Data "wrapper") (.Site.Data.wrapper.enable) }}
		{{ partial "wrapper.html" . }}
	{{ end }} -->


	{{ if and .Site.Data.call .Site.Data.call.enable }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ if .Site.Data.testimonial.enable }}
		{{ partial "testimonial.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
